{
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"singleAttributePerLine": true,
	"overrides": [
		{
			"files": "*.vue",
			"options": {
				"parser": "vue"
			}
		}
	]
}