:root {
  --bg-color: #1C1C1C;
  --secondary-color: #232323;
  --secondary-color-hover: #282828;
  --svg-color: #707070;
  --nav-width: 68px;
}

* {
  color: white;
}

svg {
  stroke: var(--svg-color);
}

html {
  background: var(--bg-color);
  margin-left: var(--nav-width);
  overflow: hidden;
  padding-top: 4rem;
}

div#drag_region {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 26px;
  z-index: 99;
}

div#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 99;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background: var(--secondary-color);
  border-right: 2px solid var(--secondary-color-hover);
  box-sizing: border-box;
  padding-top: 1.7rem;
}

div#navbar .nav_item#settings {
  width: 66%;
  margin: 16.5%;
}