@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --bg-color: white;
}

html {
  background-color: var(--bg-color);
} */

:root {
  --bg-color: #161616;
}

html {
  background-color: var(--bg-color);
}

* {
  color: white;
}

/* @media (prefers-color-scheme: dark) {
} */

/* @media screen and (display-mode: fullscreen) {
  html {
    background-color: black;
  }
} */